# PlanAhead Generated physical constraints 

NET "PIN[7]" LOC = R17;
NET "PIN[6]" LOC = N17;
NET "PIN[5]" LOC = L13;
NET "PIN[4]" LOC = L14;
NET "PIN[3]" LOC = K17;
NET "PIN[2]" LOC = K18;
NET "PIN[1]" LOC = H18;
NET "PIN[0]" LOC = G18;

# PlanAhead Generated IO constraints 

NET "PIN[7]" IOSTANDARD = LVCMOS18;
NET "PIN[6]" IOSTANDARD = LVCMOS18;
NET "PIN[5]" IOSTANDARD = LVCMOS18;
NET "PIN[4]" IOSTANDARD = LVCMOS18;
NET "PIN[3]" IOSTANDARD = LVCMOS18;
NET "PIN[2]" IOSTANDARD = LVCMOS18;
NET "PIN[1]" IOSTANDARD = LVCMOS18;
NET "PIN[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "clk" LOC = B8;
NET "reset" LOC = H13;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "POUT[7]" LOC = R4;
NET "POUT[6]" LOC = F4;
NET "POUT[5]" LOC = P15;
NET "POUT[4]" LOC = E17;
NET "POUT[3]" LOC = K14;
NET "POUT[2]" LOC = K15;
NET "POUT[1]" LOC = J15;
NET "POUT[0]" LOC = J14;

# PlanAhead Generated IO constraints 

NET "POUT[7]" IOSTANDARD = LVCMOS18;
NET "POUT[6]" IOSTANDARD = LVCMOS18;
NET "POUT[5]" IOSTANDARD = LVCMOS18;
NET "POUT[4]" IOSTANDARD = LVCMOS18;
NET "POUT[3]" IOSTANDARD = LVCMOS18;
NET "POUT[2]" IOSTANDARD = LVCMOS18;
NET "POUT[1]" IOSTANDARD = LVCMOS18;
NET "POUT[0]" IOSTANDARD = LVCMOS18;
